<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles/layout.css" /> 
	<link rel="stylesheet" href="styles/style.css" />  
	<title> OLADIMEJI .O. AWOSANYA - Python Developer</title>
	<meta charset="UTF-8" />
	<meta name="description" content="Example of HTML5 header element with multiple sections. Content outside the header markup is part of the last subsection." />
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2318547290823827",
    enable_page_level_ads: true
  });
</script>
</head>
<body>
	 <!-- HEADER THINGS -->
	<div style="margin-top:-1%;">
		<svg id="svgelem" height="40" xmlns="http://www.w3.org/2000/svg" id="logoHeader1">
		<circle id="redcircle" cx="50" cy="50" r="50" fill="red" />
		</svg>
		<h1 id="headerText"><img src="images/MYLOGO.png " /><img src="images/head1.jpg" style="width:29%;" /><img src="images/navImage1.jpg" id="logoHeader" usemap="#Map" />
		<!-- NAVIGATING USING MAPPING -->
		<map name="Map">
			<area shape="rect" coords="40,10,70,70" href="index.html" alt="Home" border="1" >
			<area shape="rect" coords="72,10,106,70" href="About-Me.html" alt="About Me" border="1">
			<area shape="rect" coords="108,10,149,70" href="portfolio.html" alt="My-Portfolio" border="1">
			<area shape="rect" coords="152,10,225,73" href="blogs-Oladimeji-Awosanya.html" alt="My_Blogs" border="1">
		</map>
	</div>
	 <!-- FRONTPAGE THINGS -->
	<div id="blogMainPage">
	<br/>
		<div id="blogsPageSub" >
			<p id="todaysTime"></p>
			<h1 style="background-color:black; text-align:center;">Oladimeji Opeyemi's Blog</h1>
			<section>
				<div class="blogBody" >
					<p style="text-align:center;font-size:55px;color:red;text-shadow:-3px 2px 0px #514d46;"> Under Construction</p>
					<h2 style="margin-left:8%;"TITLE> HEADING</h2>
					<!-- <h5 style="margin-left:8%;">Title description, Dec 7, 2017</h5> -->
					<div  class="fakeimg" style="height:200px;color:red">Image</div>
					<!-- <p style="margin-left:8%;">Some text..</p> -->
					<!-- <p style="margin-left:8%;">gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggffffffffffff -->
					<!-- fffffffffffffffffffffffffffffffffffffffffffffffffff</p> -->
					
					<!-- {% block content %} {% endblock %}			 -->
				</div>
			</section>

		</div>
		<div class="blogsPageSub1">
			<img src="imageS/blogsImg.jpg" class="blogImage" />
			<p class="navSettup3">He just love sharing what sharing</p>
			<article style="padding-left:0%; padding-right:0%;">
				{% block bk %}
				<p class="navSettup3">Posts</p>
				<span style="overflow: auto;">
					{% include 'shared_bookmark_list.html' %}
				</span>
				{% endblock bk %}
			</article>
		</div>
	<br/>
	</div>
	<!-- FOOTER  -->
	<footer class="footerPage" style="background-image:url('images/fotmart.jpg'); background-repeat:no-repeat; background-position:center;">
	<br/>
	<ul>
			<li class="footLinks">USEFUL LINKS <br/><br/>
				<p><a href="#" title="">Portfolio</a></p>
				<p><a href="#">Blog</a></p>
				<p><a href="About-Me.html">About Oladimeji</a></p>
				<p><a href="#">Soccer Focast Tip</a></p>
				<p><a href="resume.html">Curriculum Vital</a></p>
			</li>
			<li class="footLinks">SERVICES <br/><br/>
				<p>Freelancing</p>
				<p>Teaching and Tutoring</p>
			    <p>Data Entry Services</p>
				<p>Data Mining and Scraping</p>
				<p>BookKeeping</p>
				<p>Automating Routing Jobs</p>
				<p>Web Designing & Maintainance</p>
				<p>Software Development</p>
			</li>
				
			
			<li class="footLinks">CONTACTS <br/>
				<br/>
				<p><b>Call On:</b><br/> Phone : 08130234460 | (WHATSAPP)<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09097336680<br/> E-mail: <a href="mailto:tinuk2003@yahoo.com?subject=Enquire From My Website"><span class="email">awosanya.oladimeji@gmail.com</span></a></p>
				<p>
					<a href="www.facebook.com/sir.oladimeji"><img src="images/facebook.png" /></a> 
					<a href="www.googleplus.com/sir.oladimeji"><img src="images/googleplus.png"/></a>
					<a href="www.twitter.com/sir.oladimeji"><img src="images/twitter.png"/></a> 
					<a href="www.linkedin.com/sir.oladimeji"><img src="images/linkedin.png"/></a>
				</p>
			</li>
		</ul>
	</footer>
	<div style=" height:50px; background-color:black;">
	<p style="color:blue;text-align:center;"> Copyright &copy 2018 <img src="images/MYLOGO.png " height ="45px"/>. All right reserved </p>
	</div>
<script src="scripts/main.js" defer></script>
<script type="text/javascript"> var infolinks_pid = 3112419; var infolinks_wsid = 0; </script> <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
</body>
</html>