<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles/layout.css" /> 
	<link rel="stylesheet" href="styles/style.css" />
	<title> OLADIMEJI .O. AWOSANYA - Accountant/Python Developer</title>
	<meta charset="UTF-8" />
	<meta name="description" content="Example of HTML5 header element with multiple sections. Content outside the header markup is part of the last subsection." />
	
	<!-- FACEOOK META -->
	<meta property="og:image" content="https://developer.cdn.mozilla.net/static/img/opengraph-logo.dc4e08e2f6af.png">
	<meta property="og:description" content="This is my Personal Website where i share what i encounter on the web or study in which it might be of help to you... It's also a medium of sharing my curiousity about life ...">
	<meta property="og:title" content="Oladimeji .O. Awosanya Website's">
	
	<!-- TWITTER META -->
	<meta name="twitter:title" content="Oladimeji .O. Awosanya Website's">
	
	<!-- ICON -->
	<link rel="shortcut icon" href="faviconNnn.ico" type="image/x-icon">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2318547290823827",
    enable_page_level_ads: true
  });
</script>
	
</head>
<body>
	 <!-- HEADER THINGS -->
	<div style="margin-top:-1%;">
		<svg id="svgelem" height="40" xmlns="http://www.w3.org/2000/svg" id="logoHeader1">
		<circle id="redcircle" cx="50" cy="50" r="50" fill="red" />
		</svg>
		<h1 id="headerText"><img src="images/MYLOGO.png" /><img src="images/head1.jpg" style="width:29%;" /><img src="images/navImage1.jpg" id="logoHeader" usemap="#Map" /></h1>
		<!-- NAVIGATING USING MAPPING -->
		<map name="Map">
			<area shape="rect" coords="40,10,70,70" href="index.html" alt="Home" border="1" >
			<area shape="rect" coords="72,10,106,70" href="About-Me.html" alt="About Me" border="1">
			<area shape="rect" coords="108,10,149,70" href="portfolio.html" alt="My-Portfolio" border="1">
			<area shape="rect" coords="152,10,225,73" href="blogs-Oladimeji-Awosanya.html" alt="My_Blogs" border="1">
		</map>
	</div>
	 <!-- FRONTPAGE THINGS -->
	<div id="portfolioMainPage">
	<br/>
		<div id="portfolioPageSub1">
			<p id="todaysTime"></p>
			<h1 style="text-align:center; color:white;background-color:black;">Portfolio</h1>
			<!-- <p style="text-align:center;font-size:55px;color:red;text-shadow:-3px 2px 0px #514d46;">Under Compilation</p> -->
			<img src="images/passwordAuthenticationsScript.jpg" style="width:21%;padding-left:5%;padding-right:3%; float:left; margin-top:4%;background-color: white;" />
			<h3 style="margin-top:6%;padding-right:49.5%;"><u>Script Writting</u></h3>
			<p style="padding-right:5%;padding-left:5%;">I used Python & JavaScript as my primary Language for scripting Delievery. You can check my recipotery at <a href="https://github.com/awosanya" style="border:none;"> Github </a> for the latest script write up...I have being writing script based on request for an individual and business people who in need of it to implement into there source codes ... </p>
			
			<img src="images/tosCakeImage.jpg" style="width:21%;padding-left:5%;padding-right:3%; float:left; margin-top:4%;" />
			<h3 style="margin-top:6%;padding-right:45%;"><u>Web Developement</u></h3>
			<p style="padding-right:5%;padding-left:5%;">This is is owned by TosCake.a Business full focus on Cakes production. This site is fully build with HTML(5), CSS(3) and JavaScript...You can check my recipotery at <a href="https://github.com/awosanya" style="border:none;"> Github </a> for the project on site i build up...</p>
			
			<img src="images/simplecalculator.png" style="width:21%;padding-left:5%;padding-right:3%; padding-bottom:3%; float:left; margin-top:4%;" />
			<h3 style="margin-top:6%;padding-right:29.5%;"><u>Software Developement (GUI)</u></h3>
			<p style="padding-right:5%;padding-left:5%;">This is a personl project that is writing in Python Programming Language....You can check my recipotery at <a href="https://github.com/awosanya" style="border:none;"> Github </a> for the project on Desktop app that i have written so far...</p>
			
		</div>
		<div id="portfolioPageSub2">
			<!-- <img src="images/about-me.jpg" id="aboutMeImage" /> -->
			<!-- <p class="navPageColor1">HIS CHARACTER<br/> <span class="navPageColor">Powerful, Good looking, Compelling, Courageous, He as a Big heart</span></p> -->
			<!-- <p class="navPageColor1">TOOLS:<span class="navPageColor"> Instinct "MIND",  EXCEL & <span class="navMargin"> CSV, HTML(5), CSS(3),</span><span class="navMargin"> JavaScript, Django with  <span class="navMargin">Bootstrap, Python and C/C++</span></span></span></p> -->
			<!-- <p class="navPageColor1"></p>	 -->
			<!-- <article style=" padding-right:5%;"> -->
			<!-- {% block bk %} -->
				<!-- <p class="navSettup3">Blog Posts</p> -->
				<!-- <span style="padding-left:15%;margin-right:9%;"> -->
					<!-- {% include 'shared_bookmark_list.html' %} -->
				<!-- </span> -->
				<!-- {% endblock bk %} -->
			<!-- </article> -->
		</div>
	<br/>
	</div>
	<!-- FOOTER  -->
	<footer class="footerPage" style="background-image:url('images/fotmart.jpg'); background-repeat:no-repeat; background-position:center;">
	<br/>
	<div class="footColumnContainer1">
			<nav class="footPadding">
				<h3 class="footLinks" >USEFUL LINKS </h3>
				<ul>
					<li><a href="sitemap.html" style="border:none;">Web site Directory</a></li>
					<li><a href="portfolio.html" title="" style="border:none;">Portfolio</a></li>
					<li><a href="blogs-Oladimeji-Awosanya.html" style="border:none;">Blog</a></li>
					<li><a href="About-Me.html" style="border:none;">About Oladimeji</a></li>
					<li><a href="#" style="border:none;">Soccer Focast Tip</a></li>
					<li><a href="resume.html" style="border:none;">Curriculum Vital</a></li>
				</ul>
			</nav>
		</div>
		<div class="footColumnContainer1">
			<nav class="footPadding">
				<h3 class="footLinks">SERVICES</h3>
				<ul>
					<li>BookKeeping </li>
					<li>Fianacial Data Entry & Analysis</li>
					<li>Auditing</li>
					<li>Web Minning</li>
					<li>Teaching and Tutoring </li>
					<li>Web /UX & Software Development</li>
					<li>Internet Research</li>
					<li>Search Engine Optimization (SEO)</li>
				</ul>
			</nav>
		</div>
		<div style="width:35%;" class="footColumnContainer1">
			<address class="footPadding">
				<h3 class="footLinks">CONTACTS</h3>
				<p><b>Call On:</b><br/> Phone : 08130234460 | (WHATSAPP)<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09097336680<br/> E-mail: <a href="mailto:awosanya.oladimeji@gmail.com?subject=Enquire From Website" style="border:none;"><span class="email">awosanya.oladimeji@gmail.com</span></a></p>
				<nav>
					<ul>
					<li class="footContact"><a href="https://web.facebook.com/pleasantoladimeji" style="border:none;"><img src="images/facebook.png"  alt="facebook"></a> </li>
					<li class="footContact"><a href="www.googleplus.com/sir.oladimeji" style="border:none;"><img src="images/googleplus.png"  alt="GooglePlus "></a> </li>
					<li class="footContact"><a href="https://www.linkedin.com/in/oladimeji-opeyemi-awosanya-b1a59ba0/" style="border:none;"><img src="images/linkedin.png"  alt="Linkedin-Professional Profile "></a> </li>
				</ul>
				</nav>
			</address>
		</div>
	</footer>
	<div>
	<p style="color:red; text-align:center;"> Copyright &copy 2018 <a href="awosanya.github.io"><img src="images/MYLOGO.png " height ="55px"/></a>. All right reserved </p>
	</div>
<script src="scripts/main.js" defer></script>
</body>
</html>