/* -------------------------------------------------- MY NAME  --------------------*/

@keyframes zoomingName {
  0% {
    transform: rotate(0deg);
	font-size:24px;
  }

  100% {
	font-size:44px;
  }
}

figcaption {
  animation-name: zoomingName;
  animation-duration: 3.9s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}


/* -------------------------------------------------- MY QOUTES  --------------------*/

@keyframes quotesWriteUp {
  0% {
    transform: rotate(0deg);
	color:red;
  }

  100% {
	color:gold;
  }
}

#qouteAnimation {
  animation-name: quotesWriteUp;
  animation-duration: .9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* ------------------------------------------------GETHIRED LINKS-------------------------- */

@keyframes getHiredAlert {
  0% {
    transform: rotate(0deg);
	color:red;
  }

  100% {
	color:blue;
  }
}

#gethiredAlart {
  animation-name: getHiredAlert;
  animation-duration: .9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


/* ------------------------------------------------GAME-------------------------- */

#gameSlide{ 
    margin: 0px auto; 
    position: relative; 
    width: 100%; 
    height: 210px; 
    padding: 0px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#gameSlide > div { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
}

