/* -------------------------------------------HOME PAGE STYLING--------------------------------------- */

.headingDisplay {
	font-family: Edwardian Script ITC;
	font-size: 60px;
	text-align: center;	
	text-shadow: 3px 3px 1px blue;
	/* margin-top: -2%; */
	padding: 0 0; 
	color: white;
}

.webDiscription {
	/* text-align: center;	 */
	padding-left:21%;
	padding-right:4%;
	margin-top: 0;
	margin-bottom: -2%;
	padding-bottom:4%;
	color:white;
}

.imgClass {
  display: block;
  margin: 0% auto;
  height: 180px;
  border-radius:60%;
}

.qouteNavBar {
	position:relative;
	bottom:458px;
	left:59%;
	display: inline;
	padding-right:3%;
	color:red;
	margin-top:0;	
	padding-top:1%;
	font-weight:bold;
	font-style:italic;
}

.hireMe {
	position:relative;
	bottom:353px;
	left:3%;
	display: inline;
	padding-right:3%;
	color:red;
	margin-top:0;	
	padding-top:1%;
	font-weight:bold;
	font-style:italic;
	font-size:35px;
	font-family:Vivaldi;
}

q::before {
    content: open-quote;
}

.imgAlignNavBar {
	display: inline;
	padding-right:3%;
	margin: 0;	
}


.headerNavBar {
	display: inline;
	padding-right:3%;
	margin-bottom:0;
}


.upperLayer {
	background-color: white; 
	width: 100%;
	padding-top: 7%;
	padding-bottom: 5%;
	margin-top: -2%;
	padding-left: 0%;
	text-align: right;
	margin-bottom:-1%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: inset 0px 0px 8px rgba(88, 83, 74, .2);
	-moz-box-shadow: inset 1px 0px 1px rgba(88, 83, 74, .2);
	box-shadow: inset 0px 0px 1px rgba(88, 83, 74, .2); 
}


#welComePage {
	text-align:center;
	margin-bottom:0;
}

#discriptionParagraph {
	text-align:center;
	color:red;
	padding: 0%;
	margin:0px;
}

#getHired {
	text-align:center;
	padding-top:3%;
	padding-bottom:2%; 
	border: 2px solid grey;
	background-color:blue;
	background-color: rgba(17, 18, 17, .7);
	font-size:22px;
	color:white;"
}

/* ---------------------------------------------FORMS -----------------------------------------*/

form {
  margin: 0em auto;
  width: 85%;
  padding: 1em;
  display: block;
}

.formBorder {
	border: 1px solid #CCC;
	border-radius: 1em;
}
form div + div {
  margin-top: 1em;
}

fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

#soccerData {
	width: 100%;
	box-sizing: border-box;
	border: 4px solid #999;
} 

#name {
	font: 1em sans-serif;
	width: 77%;
	box-sizing: border-box;
	border: 1px solid #999;
	float: right;
}

#mail {
	font: 1em sans-serif;
	width: 73%;
	box-sizing: border-box;
	border: 1px solid #999;
	float: right;
}

#msg {
	vertical-align: top;
	width: 99%;
	height: 9em;
	border: 1px solid #999;
	box-sizing: border-box; 
	font: 1em sans-serif;
	resize:none;

	
}



input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

.getItButton {
	padding-left: 10px;
	margin-left: 4.7em;
	margin-top:3%;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
	margin-left: 3.7em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* required validation parameter */
input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}

legend {
	display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

/* --------------------------------------------------ABOUT ME --------------------------------- */
#aboutMeHeadline {
	margin-left:18%;
	margin-top:30px
}

.headerParagraphy {
	margin-left:5%;
	margin-right:5%;
	margin-top:3%;
	margin-bottom:0%;
}

.headHolder {
	font-family:Brush Script MT; 
	font-size:150%;
}

.otherStuffDoing {
	width: 20%;
	float: left;
	margin-right: 20px;
	margin-bottom:3%;
	border-radius:20%;
	height:130px;
	

}

#aboutMeImage {
	width:80%; 
	height:219px; 
	border-radius:60%; 
	margin-top:2%; 
	position:center;
	padding:2%;
	}

.navPageColor {
	color:white;
}

.navPageColor1 {
	color:gold;
}

.navMargin {
	margin-left:23%;
}

.navSettup3 {
	margin-left:3%;
	color:gold;
}

.navSettup4 {
	margin-right:19%;
	margin-left:-9%;
}


/* --------------------------------------------------------RESUME STYLING ---------------------------------*/

.downloadParaThing {
	text-align: center;
}

.paraHeadThing {
	padding-left:3%;
	padding-right:2%;
	color:blue;
}

.paraThing {
	margin-left:4%;
	margin-right:2%;
}

#resumeImage {
	width:60%; 
	height:2%; 
	border-radius:60%; 
	margin-top:15%; 
	margin-left:19%;
	margin-right:19%;
	}

	/* ------------------------------------------BLOG STYLING -----------------------------------------*/
	
.blogBody {
	height:auto;
	padding-right:1%;
}

.blogImage {
	display: block;
	margin-top: 5%;
	margin-left:76%;
	height: 180px;
	width: 180px;
	border-radius:60%;
	}
	
.fakeimg {
  background-color: #aaa;
  width: 80%;
  padding-left: 20px;
  margin-left:8%;
}
/*--------------------------------------------- GENERAL STYLING------------------------------------------- */

a {
	text-decoration: none;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	/* background-color:red; */
	-webkit-transition-property: color;
	-webkit-transition-duration:.4s;
	-webkit-transition-timing:ease-out;

}

a:active {
	color: red;
	background-color: #070807;
	background-color: rgba(7, 8, 7, .7);
}


a:hover {
	color:white;
	/* background-color: rgba(47, 54, 48, .7); */
	background-color: black;
	font-size:120%;
	border: 3px solid #e83119;	
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}


.pageParagraphy {
	padding-left:2%;
	padding-right:2%;
}

#logoHeader1 {
	margin-left:22px;
	position:absolute;
	
}

#headerText {
	color:white; 
	margin-left:22px;
	margin-top:0px;
	margin-bottom:0px;"
}

#logoHeader {
	float:right; 
	width:247px; 
	height:77px;
	margin-right:44px; 
	margin-bottom:0px;
	padding-left: 0.5em;
} 

.email {
	text-decoration:underline;
}

.footLinks {
	float:left;
	padding-top: 1%;
	padding-left: 2%;
	margin-left: 2%;
	margin-right: 1%;
}

.footMate {
	background-color: SILVER;
	height: 373px;
	margin-top:-4%;
	padding-left:9%;
	padding-top:4%;
}

.footContact {
	display: inline;
	padding:5%;
}

h1 {
	text-shadow: -3px 2px 0px #514d46; 
}

ul  {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    text-align: -webkit-match-parent;
}

div {
    display: block;
}

footer {
	display: block;
}

#todaysTime {
	padding-left:4%;
	color:blue;
	font-weight:bold;
}
